@import "theme.less";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-color:                    @default-color-font;
@font-color-shadow:             @default-color-font-shadow;
@font-shadow:                   @default-font-shadow;

@font-color-selected:           @default-color-font-selected;
@font-color-shadow-selected:    @default-color-font-shadow-selected;

@element-color-background:      @default-color-background;
@element-color-border:          @default-color-border;
@element-color-highlight:       @default-color-highlight;
@element-color-selected:        @default-color-selected;

@icon-color:                    @default-color-icon;

@resizer-color:                 @default-color-resizer-color;
@resizer-color-background:      @default-color-resizer-color-background;

@editor-view-background:        @default-color-editor-view-color-background;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.font-color                     { color: @font-color;                 }
.font-color-shadow              { color: @font-color-shadow;          }
.font-color-selected            { color: @font-color-selected;        }
.font-color-shadow-selected     { color: @font-color-shadow-selected; }    
.element-color-background       { color: @element-color-background;   }
.element-color-border           { color: @element-color-border;       }
.element-color-highlight        { color: @element-color-highlight;    }
.element-color-selected         { color: @element-color-selected;     }
.icon-color                     { color: @icon-color;                 }
.resizer-color                  { color: @resizer-color;              }
.resizer-color-background       { color: @resizer-color-background;   }
.editor-view-background         { color: @editor-view-background;     }

//------------------------------------------------------------------------------
// ICONS 
//------------------------------------------------------------------------------
@font-face 
{
    font-family: "icons-font";
  
    src:url("../fonts/icons-font.eot");
    src:url("../fonts/icons-font.eot?#iefix") format("embedded-opentype"),
        url("../fonts/icons-font.woff") format("woff"),
        url("../fonts/icons-font.ttf") format("truetype"),
        url("../fonts/icons-font.svg#untitled-font-1") format("svg");

  font-weight: normal;
  font-style: normal;
}

.icon(@content: ""; @size: 13px; @color: @icon-color)
{
    font-family: "icons-font";
    font-style: normal;
    font-size: @size;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: @color;

    content: @content;    
}

.icon-triangle-left:before      { .icon(@content: "\61"); }
.icon-triangle-right:before     { .icon(@content: "\62"); }
.icon-triangle-up:before        { .icon(@content: "\63"); }
.icon-triangle-down:before      { .icon(@content: "\64"); }
.icon-checked:before            { .icon(@content: "\65"); }
.icon-plus:before               { .icon(@content: "\66"); }
.icon-file-directory:before     { .icon(@content: "\67"); }
.icon-trash:before              { .icon(@content: "\68"); }
.icon-cube:before               { .icon(@content: "\69"); }
.icon-expand:before             { .icon(@content: "\6b"); }
.icon-close:before              { .icon(@content: "\70"); }
.icon-rotate:before             { .icon(@content: "\73"); }
.icon-scale:before              { .icon(@content: "\74"); }
.icon-translate:before          { .icon(@content: "\75"); }
.icon-global:before             { .icon(@content: "\6a"); }
.icon-local:before              { .icon(@content: "\6c"); }

///////////////////////////////////////////////////////////////

.icon18-triangle-left:before  { .icon(@content: "\61"; @size: 18px; @color: @icon-color); }
.icon18-triangle-right:before { .icon(@content: "\62"; @size: 18px; @color: @icon-color); }
.icon18-triangle-up:before    { .icon(@content: "\63"; @size: 18px; @color: @icon-color); }
.icon18-triangle-down:before  { .icon(@content: "\64"; @size: 18px; @color: @icon-color); }
.icon18-checked:before        { .icon(@content: "\65"; @size: 18px; @color: @icon-color); }
.icon18-plus:before           { .icon(@content: "\66"; @size: 18px; @color: @icon-color); }
.icon18-file-directory:before { .icon(@content: "\67"; @size: 18px; @color: @icon-color); }
.icon18-trash:before          { .icon(@content: "\68"; @size: 18px; @color: @icon-color); }
.icon18-cube:before           { .icon(@content: "\69"; @size: 18px; @color: @icon-color); }
.icon18-expand:before         { .icon(@content: "\6b"; @size: 18px; @color: @icon-color); }
.icon18-close:before          { .icon(@content: "\70"; @size: 18px; @color: @icon-color); }
.icon18-rotate:before         { .icon(@content: "\73"; @size: 18px; @color: @icon-color); }
.icon18-scale:before          { .icon(@content: "\74"; @size: 18px; @color: @icon-color); }
.icon18-translate:before      { .icon(@content: "\75"; @size: 18px; @color: @icon-color); }
.icon18-global:before         { .icon(@content: "\6a"; @size: 18px; @color: @icon-color); }
.icon18-local:before          { .icon(@content: "\6c"; @size: 18px; @color: @icon-color); }

////////////////////////////////////////////////////////////////
// Icons
////////////////////////////////////////////////////////////////
.icon-hover
{
}

.icon-hover:hover
{
    .background-color(@color: @element-color-highlight);
}

.icon-size(@size: 13px)
{
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Main
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
html,
body 
{
    /* set margin to 0 and overflow to hidden, to use the complete page */
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 900;
    min-height: 600;
}

.nosize
{
    width: 0px;
    height: 0px;    
}

.borderinside
{
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.background-color(@color: @element-color-background)
{
    background-color: @color;
}

.background-color-element
{
    .background-color(@color: @element-color-background);
}

.border-solid-top(@size: 3px; @color: @element-color-border) 
{
    border-top: @size solid @color;
}

.border-solid-bottom(@size: 3px; @color: @element-color-border) 
{
    border-bottom: @size solid @color;
}

.border-solid-left(@size: 3px; @color: @element-color-border) 
{
    border-left: @size solid @color;
}

.border-solid-right(@size: 3px; @color: @element-color-border) 
{
    border-right: @size solid @color;
}

.border-solid(@size: 3px; @color: @element-color-border)
{
    border: @size solid @color;
}

.text(@size: 11px; @color: @font-color; @color-shadow: @font-color-shadow)
{
    font-size: @size;
    font-family: 'Lucida Grande', sans-serif;
    & when (@font-shadow = true) 
    {
        text-shadow: 0 -1px 0 @color-shadow;
    }
    color: @color;
}

.base-elemennt
{
    position: absolute;    
    overflow: hidden;
}

.element 
{
    visibility: hidden;

    .base-elemennt;
    .nosize;
}

.page_element 
{
    .base-elemennt;
    .background-color(@color: @element-color-background);
    .borderinside;
}

.resizerX 
{
    cursor: e-resize;

    //background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAARCAYAAAAYNhYvAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTZEaa/1AAAAGElEQVQYV2P4++c/CIBpBhADhoe8zP//AJT5qfyyqEgyAAAAAElFTkSuQmCC') no-repeat center center;
    //background: url('./../textures/h-resizer.png') no-repeat center center transparent;

    .background-color(@color: @resizer-color-background);
    .element;    
}

.resizerX::after
{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: url('./../textures/h-resizer.png') no-repeat center center transparent;
}


.resizerY 
{
    .background-color(@color: @resizer-color-background);
    .element;
    cursor: n-resize;
}

.resizerY::after
{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: url('./../textures/v-resizer.png') no-repeat center center transparent;
}

.selectionRectangle 
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin: 0;
    padding: 0;
    pointer-events: none;

    .nosize;
    .background-color(@color: rgba(235, 235, 235, 0.5));
    .border-solid( @size: 1px; @color: @element-color-border);
}

.noselect 
{
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently supported by Chrome and Opera */
}

.text11
{
    .text(12px);
}

.text13
{
    .text(13px);
}

.text11-selected
{
    .text(@size: 12px; @color: @font-color-selected; @color-shadow: @font-color-shadow-selected);
}

.text13-selected
{
    .text(@size: 13px; @color: @font-color-selected; @color-shadow: @font-color-shadow-selected);
}

.border-bottom-page-element
{
    .border-solid-bottom;
}

.background-color
{
    .background-color;
}

.border-solid-1px
{
    .border-solid(@size: 1px; @color: @element-color-border);
}

//------------------------------------------------------------------------------
// Menu 
//------------------------------------------------------------------------------
.menu
{
    z-index: 1000;
    position: relative;
    overflow: visible;
}

.menu .divider
{
    height: 1px;
    margin: 3px 0;
    overflow: hidden;

    .background-color(@color: @element-color-border);
}

.menu ul
{
    list-style: none;
    position: relative;
    float: left;
    padding: 0;
    margin: 0px;

    .border-solid(@size: 1px; @color: @element-color-border);
}

.menu ul a 
{
    display: block;
    padding: 3px 7px;
    text-decoration: none;

    .text13;
}

.menu ul li 
{
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

.menu ul li.current-menu-item 
{
    z-index: 1000;

    .background-color(@color: @element-color-background);
}

.menu ul li:hover 
{
    .background-color(@color: @element-color-highlight);
}

.menu ul ul 
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;

    .background-color;
}

.menu ul ul li 
{
    float: none;
    width: 200px;
}

.menu ul ul a
{
    padding: 5px 10px;
}

.menu ul ul ul
{
    top: 0;
    left: 100%;
    position: absolute;
}

.menu ul li:hover>ul
{
    display: block;
}

//------------------------------------------------------------------------------
// TABS
//------------------------------------------------------------------------------

/* Style the tab */
.tab
{
    overflow: hidden;
    .background-color;
}

.tab button
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 6px;
}

.tab button:hover
{
    .background-color(@color: @element-color-highlight);
}

.tab button.active
{
    .background-color(@color: @element-color-border);
}

/* Style the tab content */
.tabcontent
{
    display: none;
}

//------------------------------------------------------------------------------
// Toolbars
//------------------------------------------------------------------------------

.toolbar
{
    .background-color;

    overflow: hidden;
    float: left;
}

.toolbar button
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;

    margin: 3px;
}

.toolbar button:hover
{
    .background-color(@color: @element-color-highlight);
}

.toolbar button.active
{
    .background-color(@color: @element-color-border);
}

.toolbar button.active:hover
{
    .background-color(@color: @element-color-highlight);
}

.toolbar div.separator
{
    .background-color(@color: @element-color-border);

    float: left;
    border: none;
    outline: none;
    cursor: default;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

//------------------------------------------------------------------------------
// Vanilla Tree 
//------------------------------------------------------------------------------
.vtree ul.vtree-subtree, .vtree li.vtree-leaf 
{
	margin: 0;
	padding: 0;
	list-style-type: none;
    position: relative;
    
    .text11;
	.background-color;
}

ul.vtree 
{
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	list-style-type: none;
	position: relative;
}

.vtree li.vtree-leaf 
{
	min-height: 18px;
    line-height: 24px;
}

.vtree li.vtree-leaf::before 
{
	width: 18px;
	height: 24px;
	position: relative;
    border-top: 6px;
}

.vtree li.vtree-leaf li.vtree-leaf 
{
	margin-left: 18px;
}

.vtree li.vtree-leaf:last-child 
{
	background-image: none;
}

.vtree li.vtree-leaf.closed ul.vtree-subtree 
{	
	display: none;
}

.vtree li.vtree-leaf.vtree-has-children > span.vtree-toggle 
{
	display: block;
	width: 14px;
	height: 18px;
	position: absolute;
	left: 0;
    top: 0;
    cursor: pointer;    
}

.vtree li.vtree-leaf.vtree-has-children > span.vtree-toggle:before 
{
    padding-left: 4px;
    padding-top: 6px;

    .icon(@content: "\64"; @size: "13px");
    .noselect;
}

.vtree li.vtree-leaf.vtree-has-children.closed > span.vtree-toggle 
{
    cursor: pointer;
}

.vtree li.vtree-leaf.vtree-has-children.closed > span.vtree-toggle:before 
{
    padding-left: 4px;
    padding-top: 6px;

    .icon(@content: "\62"; @size: "13px");
    .noselect;
    cursor: pointer;
}


.vtree a.vtree-leaf-label 
{
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	width: calc(100% - 18px);
	margin-left: 18px;
    margin-bottom: 2px;

    .border-solid-bottom(1px);
}

.vtree li.vtree-leaf a.vtree-leaf-label:hover 
{
	.background-color(@color: @element-color-highlight);
}

.vtree li.vtree-leaf.vtree-selected > a.vtree-leaf-label 
{
    .text11-selected;
	.background-color(@color: @element-color-selected);
}

.vtree-contextmenu 
{
	position: absolute;
	z-index: 9999999;
	padding: 0px;
	margin: 0px;
    display: none;
    
    .border-solid(@size: 1px; @color: @element-color-border);
	.background-color;
}

.vtree-contextmenu li 
{
	list-style: none;
	padding: 1px 5px;
	margin: 0px;
	
	line-height: 20px;
	height: 20px;
    cursor: default;
    
    color: @font-color;
}

.vtree-contextmenu li:hover 
{
    color: @font-color;
  
	.background-color(@color: @element-color-highlight);
}

//------------------------------------------------------------------------------
// Dat.GUI 
//------------------------------------------------------------------------------

.dg 
{}
.dg ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    clear: both;
}
.dg.ac
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 0;
}
.dg:not(.ac) .main
{
    // Exclude mains in ac so that we don't hide close button
    overflow: hidden;
}
.dg.main
{
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.dg.main.taller-than-window
{
    overflow-y: auto;
}
.dg.a
{
    float: right;
    margin-right: 15px;
    overflow-y: visible;
}
.dg li
{
    -webkit-transition: height 0.1s ease-out;
    -o-transition: height 0.1s ease-out;
    -moz-transition: height 0.1s ease-out;
    transition: height 0.1s ease-out;
    -webkit-transition: overflow 0.1s linear;
    -o-transition: overflow 0.1s linear;
    -moz-transition: overflow 0.1s linear;
    transition: overflow 0.1s linear;
}
.dg li:not(.folder)
{
    cursor: auto;
    height: 27px;
    line-height: 27px;
    padding: 0 4px 0 5px;
}
.dg li.folder
{
    padding: 0;
    border-left: 4px solid transparent;
}
.dg li.title
{
    cursor: pointer;
    margin-left: -4px;
}
.dg .closed li:not(.title),
.dg .closed ul li,
.dg .closed ul li > *
{
    height: 0;
    overflow: hidden;
    border: 0; }
.dg .cr
{
    clear: both;
    padding-left: 3px;
    height: 27px;
    overflow: hidden;
}
.dg .property-name 
{
    cursor: default;
    float: left;
    clear: left;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dg .c
{
    float: left;
    width: 60%;
    position: relative;
}
.dg .c input[type=text]
{
    border: 0;
    margin-top: 4px;
    padding: 3px;
    width: 100%;
    float: right;
}
.dg .has-slider input[type=text]
{
    width: 30%;
    //display: none;
    margin-left: 0;
}
.dg .slider
{
    float: left;
    width: 66%;
    margin-left: -5px;
    margin-right: 0;
    height: 19px;
    margin-top: 4px;
}
.dg .slider-fg
{
    height: 100%;
}
.dg .c input[type=checkbox]
{
    margin-top: 7px;
}
.dg .c select
{
    margin-top: 5px;
}
.dg .cr.function,
.dg .cr.function .property-name,
.dg .cr.function *,
.dg .cr.boolean,
.dg .cr.boolean *
{
    cursor: pointer;
}
.dg .cr.color
{
    overflow: visible;
}
.dg .selector
{
    display: none;
    position: absolute;
    margin-left: -9px;
    margin-top: 23px;
    z-index: 10;
}
.dg .c:hover .selector,
.dg .selector.drag
{
    display: block;
}
  
/** Main type */
.dg
{
    color: @font-color;
    .text11;
}
.dg.main
{
}
.dg.main::-webkit-scrollbar
{
    width: 5px;
    background: #1a1a1a;
}
.dg.main::-webkit-scrollbar-corner
{
    height: 0;
    display: none;
}
.dg.main::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background: #676767;
}
.dg li:not(.folder)
{
    background: @element-color-background;
    .border-solid-bottom(@size: 1px; @color: @element-color-border);
}
.dg li.folder
{
    border-bottom: 0;
}
.dg li.title
{
    cursor: pointer;
    .border-solid(@size: 1px; @color: @element-color-border);
}
.dg li.title::before
{
    .icon(@content: "\64"; @size: "13px");
    .noselect;
}
.dg .closed li.title 
{
}
.dg .closed li.title:before
{
    .icon(@content: "\62"; @size: "13px");
    .noselect;
}
.dg .cr.boolean
{
    border-left: 3px solid #806787;
}
.dg .cr.color
{
    border-left: 3px solid;
}
.dg .cr.function
{
    border-left: 3px solid #e61d5f;
}
.dg .cr.number 
{
    border-left: 3px solid #2FA1D6;
}
.dg .cr.number input[type=text]
{
    //color: #2FA1D6;
    color: @font-color;
}
.dg .cr.string 
{
    border-left: 3px solid #1ed36f;
}
.dg .cr.string input[type=text] 
{
    color: @font-color;
}
.dg .cr.function:hover, .dg .cr.boolean:hover
{
    background: @element-color-highlight;
}
.dg .c input[type=text] 
{
    background: @element-color-border;
    outline: none;
}
.dg .c input[type=text]:hover
{
    background: @element-color-highlight;
}
.dg .c input[type=text]:focus
{
    background: @resizer-color-background;
    //color: #fff;
    color: @font-color;
}
.dg .c .slider 
{
    background: #303030;
    cursor: ew-resize;
}
.dg .c .slider-fg
{
    background: #2FA1D6;
    max-width: 100%;
}
.dg .c .slider:hover
{
    background: @element-color-highlight;
}
.dg .c .slider:hover .slider-fg
{
    background: #44abda;
}
